# ===== 测试核心 =====
pytest==8.3.4
pytest-html==4.1.1
pytest-xdist==3.6.1

# ===== HTTP =====
requests==2.32.3

# ===== 数据驱动 =====
PyYAML==6.0.2
jsonpath-ng==1.7.0

# ===== 日志 =====
loguru==0.7.3

# ===== 数据生成 =====
Faker==33.3.1

# ===== 数据库验证 =====
PyMySQL==1.1.1

# ===== 报告 =====
allure-pytest==2.13.5

# ===== 代码质量 =====
ruff==0.9.2